@import url('base.css');

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--brown-dark);
    margin-bottom: 2rem;
    position: relative;
}

.section-title:after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: #f9c987;
    display: block;
    margin: 0.5rem auto;
}

.history-section .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.history-section .card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-bottom: 2px solid #f9c987;
}

.card-title {
    color: #451f0f;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }
}