@import url('base.css');

/* Backgrounds */
#sustentabilidade-intro {
    background: linear-gradient(to right, #a3d5a1, #e0f5df);
    color: #333;
}

/* Títulos */
h1,
h2,
h5 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #5e3012;
}

/* Botões */
.btn-success-custom {
    background-color: #5e3012;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-success-custom:hover {
    background-color: #8a4b2e;
    color: #fff;
}

/* Cards */
.card {
    border: none;
}

.card-title {
    font-size: 1.25rem;
}